Flask
Flask-SQLAlchemy
SQLAlchemy
openpyxl
pandas
APScheduler
gunicorn
psycopg2-binary
bcrypt
flask-login
Flask-WTF
holidays
rembg[cpu]
aiohttp
aiofiles
Pillow
selenium
webdriver-manager
requests
numpy