name: Deploy to Contabo

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            cd ~/flowork
            git pull origin main
            echo '${{ secrets.EIDER_JSON_KEY }}' > EIDERGOOGLE.json
            docker build --no-cache -t flowork .
            docker stop flowork_app || true
            docker rm flowork_app || true
            docker run -d --name flowork_app --restart always -p 80:5000 -e PORT=5000 -e SECRET_KEY="${{ secrets.ENV_SECRET_KEY }}" -e DATABASE_URL="${{ secrets.ENV_DATABASE_URL }}" flowork
            docker image prune -f
